:root{
    --font-family:"",
    --bg-color:"#79c4f7d2",
    --text-color:"red"
}
#hero_typing{
     
}
#port_navbar{
    background: rgb(13, 13, 13);
   
}
a{
  

}

.hero_section{
    /* background-color: #ffbb00; */
   
    background-image: linear-gradient(to top right, #6daa66, rgb(12, 253, 44));
    /* background-color: #2dcce0; */
}

#hero_img{
    border-radius: 43% 4%;
    filter: brightness(90%);
    animation: hero_murali 2s infinite linear;

    position: relative;
    object-fit: cover;
    z-index: 30;
    filter: drop-shadow(25px 10px 4px #0a0a0a);
   
}
.card{
  justify-content: space-between;
  padding: 35px;
  border: 1px solid rgba(233, 228, 228, 0.25);
  border-radius: 20px;
  background-color: rgba(223, 218, 218, 0.45);
  box-shadow: 10px 10px 10px 1px rgba(0, 0, 0, 0.25);

  backdrop-filter: blur(15px);
  transition: transform 250ms;
  transition-timing-function: linear;
}
.card:hover{
    transform: scale(1.09);
  

}


@keyframes hero_murali {
    0%{
      right: 10px;
    }
    50%{
      right: 50px;
     }
     100%{
       right: 10px;
     }
    
}

#skills_img{
     border-radius: 43% 4%;
     animation: hero_murali 2s infinite linear;
       
     position: relative;
     object-fit: cover;
     z-index: 20!important;
     box-shadow: 10px 10px 50px #1af012;
}
#project_img{
    border-radius: 43% 4%;
    animation: hero_murali 2s infinite linear;
    position: relative;
    object-fit: cover;
    z-index: 20;
}


#navbarTogglerDemo01 a{
    color: #21ee05!important;
    font-size: 1.4rem;
    font-family: "Comic Sans MS";
    font-weight: 700;

   
}
#port_name_name{
    color: rgb(255, 187, 0);
    font-size: 2rem;
    font-weight: 900;
    animation: port_name 2s linear;
    position: relative;
    text-shadow: 2px 2px  rgb(255, 253, 253);
    font-family: Arial, Helvetica, sans-serif;
    
}
@keyframes port_name {
    0%{
       left: 0%;
    }
    50%{
        left: -100%;
     }
     100%{
        left: 0%;
     }
}
.navbar-toggler{
    border: none;
}
#under_anime{
    background: #21ee05;

    height: 5px;
    width: 50%;
    animation: under_line 3s  linear;
}

#back_curve_hero{
    background: #131313;
    
    height: 170px;
    overflow: hidden;
    margin-top: -100px;
    border-radius: 200% 0%;

    transform: rotate(20deg);
     /* width: 120%; */
  
    

}
#back_curve_project{
    background: black;
    height: 150px;
    overflow: hidden;

    margin-top: -100px;
    border-radius: 220% 0%;
    
}
#back_curve_skills{
    background: #1cec09;
    height: 150px;
    overflow: hidden;
    z-index: -99!important;
    margin-top: -100px;
    border-radius: 200% 4%;
    transform: rotate(20deg);
}

@keyframes under_line {
    0%{
        width: 10%;
        height: 5px;
    }
    50%{
        width: 30%;
        height:2px;
        
    }
    100%{
        width: 50%;
        height: 5px;
    }
}
#sections_heading{
    font-size: 2rem;
    font-weight: 900;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    letter-spacing: 3px;
}
#skills_things{
    background: rgb(0, 0, 0);
    color: #eff3f1;
    font-family: "Comic Sans MS";
    font-size: 2rem;

}
#project_things{
    background-image: linear-gradient(to top right, #6daa66, rgb(12, 253, 44));

    color:black;
    font-family: "Comic Sans MS";
    font-size: 2rem;

}
#contact_us{
    background: black;
    color: white;
}

@media only screen and (max-width:910px){
   .card{
    padding: 20px;
    font-size: 1.1rem;
   }
}