.quotes{
    
     height: 100vh;
     width: 100%;
    
}
.quotes_text{
    font-size: 188px;
    word-break: normal;
    margin: auto;
    color:#21ee05;
    -webkit-text-stroke: 4px rgb(50, 56, 58);

    
    
   
}
@media only screen and (max-width: 960px) {
    .quotes_text{
        font-size: 188px;
    }
  }